.altura{
	position: relative;
	margin-top: 94px;
}
.mao:hover{
	cursor: pointer;
	background-color: #B22222;
}
h6{
	font-size: 14px;
	height: 2px;
	width: 60px;
}
h3{
	margin-left: 110px;
	height: 20px;
	margin-top: 2px;
}
h4{
	height: 2px;
	width: 100px;
}
.mini{
	background-color: #C0C0C0;
	position: absolute;
	padding: 25px;
	width: 360px;
	left: 38%;
	top: 5%;
	border-radius: 15px;
}
.me{
	float: right;
	margin-right: 20px;
	margin-top: 9px;
	color: #696969;
}
#altura{
	border-style: none;
	width: 267px;
	height: 35px;
	border-radius: 7px;
}
.kg{
	float: right;
	margin-right: 20px;
	margin-top: 9px;
	color: #696969;
}
#peso{
	border-style: none;
	width: 267px;
	height: 35px;
	border-radius: 7px;
}
.sexo{
	position: relative;
	margin-top: -380px;
}
.mul{
	border-radius: 7px 0px 0px 7px;
	border-style: none;
	width: 178px;
	height: 35px;
	background-color: #ff1493;
	color: #ffffff;
	margin-top: -1px;
}

.mul:hover{
	cursor: pointer;
	background-color: #ff69b4;
	border-style: double;
}
.hom{
	border-radius: 0px 7px 7px 0px;
	border-style: none;
	width: 178px;
	height: 35px;
	background-color: #0000ff;
	color: #ffffff;
	margin-top: -2px;
}
.hom:hover{
	cursor: pointer;
	background-color: #6495ed;
	border-style: double;
}
.calc{
	position: relative;
	border-radius: 7px;
	width: 361px;
	height: 35px;
	background-color: #7B68EE;
	border-style: none;
	margin-top: 36px;
	color: #ffffff;
}
.calc:hover{
	cursor: pointer;
	background-color: #6495ED; 
}
#resultado{
	position: relative;
	border-radius: 7px;
	height: 35px;
	width: 267px;
	border-style: none;
	margin-top: 16px;
}
.res{
	float: right;
	margin-right: 20px;
	margin-top: 26px;
	color: #696969;
}
.mao{
	position: relative;
	border-radius: 7px;
	height: 38px;
	width: 194px;
	border-style: none;
	margin-top: 350px;
	margin-left: 85px;
	color: #ffffff;
	background-color: #FF0000;
}